.item {
  .exact-active {
    background: #ff5a5a;
    color: #f2f2f2;
    &:hover {
      background: #ff5a5a !important;
      color: #f2f2f2;
    }
  }
}

body {
  ::-moz-selection {
    /* Code for Firefox */
    color: white;
    background: #ff5a5a;
  }

  ::selection {
    color: white;
    background: #ff5a5a;
  }
  // default user selection
  // user-select: none;
}
// apexcharts font family
